<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aviato</title>
  </head>
  <style>
    * {
      font-family: sans-serif;
    }

    marquee {
      font-size: 4em;
    }

    p {
      position: fixed;
      bottom: 0;
      right: 10px;
      font-size: 1em;
      opacity: 0.7;
    }
  </style>
  <body>
    <marquee behavior="alternate"> 😎 Server started 😎 </marquee>
    <p>📦: {{ hostname }}</p>
  </body>
</html>
